<!doctype html>
<html lang="en">

<head>
    <title>Engineer Homepage</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>
<body>

<!-- Nav Bar -->
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h2 style="margin-left: 1em;">Engineer's Portal</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./engineer_homepage.html" style="font-size: medium; margin-left: 0.5em;">HomePage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./engineer_past.html" style="font-size: medium; margin-left: 0.5em">Past Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./engineer_current.html" style="font-size: medium; margin-left: 0.5em">Current Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./engineer_course.html" style="font-size: medium; margin-left: 0.5em">Courses Available</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./enrollment_list.html" style="font-size: medium; margin-left: 0.5em">Enrollment Application</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./engineer_profile.html" style="font-size: medium; margin-left: 0.5em">Profile</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" style="color: black; font-size: small;"><span class="glyphicon glyphicon-log-out" style="color: grey; size: 3em;"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

  <!-- See the Course Description-->
  <div id="course_descr" class="container">

    <h1 class="display-4">Course Description</h1>
    
    <h3 v-for="record in course_list">
        {{ record.course_id }}   -  {{ record.course_name }}
    </h3>
    <br>

    <h4>Course Brief</h4>
    <h5 v-for="record in course_list">
      {{ record.course_brief }}
    </h5>
    <br>

    <h4>Course Type - </h4>
    <h5 v-for="record in course_list"><i>
      {{ record.course_type }}</i>
    </h5>
    <br>

    <h4>Course Period - </h4>
    <table class='table table-striped' border='2' >
      <thead class='thead-dark'>
        <th>Start Date</th>
        <th>End Date</th>
      </thead>
      
      <tr v-for="record in course_list">
        <td>{{record.start_date}}</td>
        <td>{{record.end_date}}</td>
      </tr>
    </table>

    <br>
  
    <table class='table table-striped' border='2' >
      <thead class='thead-dark'>
        <th>Prerequisite Courses</th>
        <th>Prerequisite Courses Completed?</th>
        <th>Prerequisite Course Completed Image</th>
      </thead>
      
      <tr v-for="record in prereq_list">
        <td>{{record}}</td>
        <td><course-comp :id="record"></course-comp></td>
        <td id="getImage"></td>
      </tr>
    </table>

    <br>
    <table class='table table-striped' border='2' >
      <thead class='thead-dark'>
        <th>Course Class</th>
        <th>Total Slots Available</th>
        <th>Enroll</th>
      </thead>
      
      <tr v-for="record in course_class">
        <td><b>{{record}}</b></td>
        <td><course-class :id="record"></course-class></td>
        <td>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" :value="record">
          <label class="form-check-label" for="flexRadioDefault1">
            Enroll in this Class
          </label>
        </div></td>
      </tr>
    </table>

  </div>

  <br>

  <div id="enroll">
    <input type="button" style= "margin:0 auto;
    display:block; padding: 10px 20px;" class="btn btn-dark" value="Enroll" id="submit1" @click="enroll()"/>
  </div>


  <script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }


    var course_id = getParameterByName('id');
    var engineer_id = sessionStorage.getItem("user_id");

    var course_start_date = ''
    var course_end_date = ''
    var engcompleted_courses = []
    var engprog_courses = []
    var completed_preq = []
    var prequisite_course = []
    var course_type = ''
    var course_classes = []
    var course_class_slot = 0



    const vm = new Vue({
          el: '#course_descr',
          data: {
              course_list: [],
              prereq_list: [],
              completed_courses: [],
              course_class: []
          },
          mounted: function() {
              axios.get('http://localhost:5001/course/'+course_id)
                  .then(response => {
                      this.course_list = response.data;
                      course_type = response.data.data['course_type']
                      this.course_class = response.data.data['course_class'].split(", ")
                      course_classes = this.course_class

                      course_start_date = response.data.data['start_date']
                      course_end_date = response.data.data['end_date']

                      if(response.data.data['course_prerequisite'] != null){
                        this.prereq_list = response.data.data['course_prerequisite'].split(", ");
                        prequisite_course = this.prereq_list
                      }
                  })
                  .catch(error => alert(error));
          },
      });
  


  Vue.component('course-comp', {
    props: ['id'],
    template: `<h6>{{output}}</h6>`,
    data: function () {
        return {
            completed_courses: [],
            prog_courses: [],
            c_courses: [],
            p_courses: [],
            output: "No",
            image: "",
        };
    },
    created: function () {
        axios.get('http://localhost:5002/engineer/'+engineer_id)
            .then(response => {
              this.c_courses = response.data.data['engineer_completed_courses'].split(', ')
              for(i=0;i<this.c_courses.length;i++){
                this.completed_courses.push(this.c_courses[i].split("-")[0])
              }
              engcompleted_courses = this.completed_courses
              // console.log(engcompleted_courses)
              this.p_courses = response.data.data['engineer_inprogress_courses'].split(', ')
              for(i=0;i<this.p_courses.length;i++){
                this.prog_courses.push(this.p_courses[i].split("-")[0])
              }
              engprog_courses = this.prog_courses
              // console.log(engprog_courses)
              for(i=0; i < this.completed_courses.length; i++){
                if(this.completed_courses[i] == this.id){
                  // alert('Its a MATCH!');
                  this.output = "Yes"
                  this.image = "<img src ='../../files/badge.jpg' width='70' height='70'>"
                  var body_str = `${this.image}`
                  var body_content = document.getElementById('getImage');
                  body_content.innerHTML = body_str;
                  completed_preq.push(this.id)
                }
              }
            }); 
        
    },
  });


  // To View the List of Classes and theirs seats available
  Vue.component('course-class', {
    props: ['id'],
    template: `<td>{{slots}}</td>`,
    data: function () {
        return {
            slots: 0,
        };
    },
    created: function () {
        axios.get('http://localhost:5001/course_class/'+this.id)
            .then(response => {
              this.slots = response.data.data['seats_available']
            }); 
    },
  });


  
  
  // When you click on Enroll
  const enroll = new Vue({
    el: '#enroll',
    data: {
      course_id: course_id,
      engineer_id: engineer_id,
      course_class: '',
      slots: '',
      c_courses: [],
      curr_courses: [],
      prog_courses: [],
      completed_courses: [],
      
    },
    methods:{
      enroll: function() {
        this.course_class = document.querySelector('input[name="flexRadioDefault"]:checked').value;

        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var dateTime = date+' '+time;
        dateTime = new Date(dateTime)
        
        var start = new Date(course_start_date)
        var registration_start = new Date(start)
        registration_start = new Date(registration_start.setDate(start.getDate() - 15))
        
        var end = new Date(course_end_date)
        var registration_end = new Date(end)
        registration_end = new Date(registration_end.setMonth(end.getDate() + 15))

        axios.get('http://localhost:5001/course_class/'+this.course_class)
            .then(response => {
              this.slots = response.data.data['seats_available']
              if(this.slots <= 0){
                alert('There are no available seats. Sorry!')
              }
              else{

                if(confirm("Are you sure you want to Enroll in this Course Class?")){
                  if(dateTime < registration_start){
                    alert('It is still too early Enroll into this course. You can only enroll 15 days before or after the start of Course Period')
                  }
                  else if(dateTime > registration_end){
                    alert('Its too late to Enroll into this course. Please wait for the the next cycle of this Course to start.')
                  }
                  else{
                    if(engprog_courses.includes(course_id) || engcompleted_courses.includes(course_id)){
                      alert('You have already completed/enrolled in the Course')
                    }
                    else if(course_type == 'Assigned'){
                            alert('This course is Assigned. You cannot Enrol for this course.')
                        }
                    else{
                      if(completed_preq.length == prequisite_course.length){
                            axios.get('http://localhost:5003/enrollment')
                            .then(response => {
                                const enrollment_list = response.data.data;
                                var already_exists_engineer = enrollment_list.some(el => el.engineer_id == this.engineer_id)
                                var already_exists_course = enrollment_list.some(el => el.course_id == this.course_id)
                                if(already_exists_course && already_exists_engineer){
                                  alert('You have already enrolled for this course! Please deleted your previous request, to send in a new request.')
                                }
                                else{
                                  axios.post('http://localhost:5003/enrollment', {
                                    engineer_id: this.engineer_id,
                                    course_id: this.course_id,
                                    course_class_id: this.course_class
                                  })
                                  .then(response => {
                                      alert('You successfully sent in your application for enrolling!')
                                      return false;
                                  })
                                }
                                
                            })
                            .catch(error => alert(error));
                      }
                      else{
                        alert('You have not completed all the Pre-requisites of the Course')
                      }
                    }
                  }
                }

              }
            }); 

      }
      
    }
  });

  

  </script>
  
</body>
